<?xml version="1.0"?>

<model>
  <name>apple_tree_fruit</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Andi Damar</name>
    <email>anditya.sridamar.p@gmail.com</email>
  </author>


  <description>
    A model of a apple_tree_fruit
  </description>

</model>
